* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-size: 16px;
	line-height: 1.2;
}
.clearfix {
	content: '';
	clear: both;
	display: inline-block;
}
a {
	text-decoration: none;
	color: #000;
}