main {
	height: calc(100vh - 60px);
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	position: relative;
}
main>section {
	display: none;
	padding: 10px;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	height: calc(100vh - 60px);
}
main :first-child {
	display: block;
}
main .block {
	border-bottom: solid 1px #ccc;
}
main .block>a {
	width: 100%;
    padding: 15px;
}
.block>a>.img>img {
	width: 70px;
    height: 100px;
}
.block>a>div {
	display: inline-block;
}
.block .intro {
	width: 245px;
    height: 100px;
    font-size: 12px;
    line-height: 1.3;
    vertical-align: top;
}
.intro>div {
	color: #999;
	padding-top: 3px;
}
.intro .score {
	display: inline-block;
	color: #e08b10;
}
.intro span {
	display:inline;
}
.loading {
	text-align: center;
	padding: 5px;
	display: none;
}
.loading>.icon-loading {
	display: inline-block;
	animation: 1s rotate linear infinite
}
@keyframes rotate {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
#search>.search-area {
	padding: 10px;
    border-bottom: solid #ccc 2px;
}
.search-area>input {
	display: inline-block;
    width: 275px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    background: #ccc;
    outline: none;
}
.search-area>span {
	padding: 10px;
    border-radius: 15px;
    margin-left: 8px;
    background: #d78346;
    color: #fff;
}
footer {
	display: flex;
	position: absolute;
	width: 100%;
	height: 60px;
	border-top: solid 1px #ccc;
}
footer>div {
	flex: 1;
	text-align: center;
	padding-top: 8px;
}
footer>div>span {
	display: block;
}
footer .active {
	color: #FF5722;
}
